
body{
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

.jumbotron{
    height: 50rem;
    background-image: linear-gradient(to left bottom,
     rgba(240, 247, 235, 0.5),
      rgb(255, 199, 44, 0.5)), 
      url(../images/patrick-tomasso-1NTFSnV-KLs-unsplash.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.jumbotron-container{
    margin-top: 12rem;
    text-align: center;
}

.jumbotron h1{
    font-size: 3rem;
    font-family: 'Kalam', cursive;
}

.jumbotron h3{
    font-size: 3rem;
    font-family: 'Kalam', cursive;
}

.jumbotron p{
    font-size: 3rem;
    font-family: 'Kalam', cursive;

    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.typing{
    position: relative;
    margin-left: 10px;
}

.typing::after{
    content: "";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 5%;
    border-right: 2px solid rgb(255, 12, 12);
    animation: blink 0.5s infinite ease;
}

.name{
    background-image: linear-gradient(to left bottom, rgb(41, 245, 177), rgb(154, 218, 212));
    -webkit-background-clip: text;
    color: transparent;
}

.jumbotron .lead-button{
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;

}

.jumbotron .btn-lg{
    width: 9rem;
    height: 3rem;
    border: 1px solid #f9e506;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.7s;
    font-size: 1.3rem;
    outline: none;
}

.jumbotron .btn-lg:hover{
    box-shadow: inset 9rem 0 0 0 #f9e506;
    text-decoration: none;
}

.container-about{
    margin-top: -2rem;
    height: 40rem;
    background-image: linear-gradient(to right top, rgb(41,245,177), rgb(44,121,222));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 55vh);
}

.about{
    margin-top: 5rem;
}

.about-image{
    text-align: center;
}

.about-image img{
    height: 10rem;
}

.about-header{
    text-align: center;
    margin-top: 3rem;
    color: #fff;
}

.container-about .about-text{
    color: #fff;
}

.container-about .btn-style{
    margin-top: 1rem;
    border: 1px solid #f9e506;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.7s;
    font-size: 1.3rem;
    outline: none;
}

.container-about .btn-style:hover{
    box-shadow: inset 9rem 0 0 0 #f9e506;
    text-decoration: none;
}



.skills{
    text-align: center;
    font-size: 4rem;
    margin-top: 3rem;

}

.fa-html5,
.fa-css3-alt,
.fa-js,
.fa-react,
.fa-file,
.fa-server,
.fa-node{
    color: #1bf7d2;
}

.fa-html5:hover,
.fa-css3-alt:hover,
.fa-js:hover,
.fa-react:hover,
.fa-file:hover,
.fa-server:hover,
.fa-node:hover{
    color: #fff;
}


.container-project{
    height: 110rem;
}

.project-header{
    text-align: center;
}

.project-title{
    text-align: center;
    margin-top: 5rem;
    margin-left: 10rem;
}

.project-title h6{
    font-size: 1rem;
    padding: 2rem 2rem;
}

.btn{
    color: rgb(255, 255, 255) !important;
}


.project-image img{
    margin-top: 5rem;
    height: 20rem;
    width: 100%;
    margin-left: 12rem;
}

.container-footer{
    height: 5rem;
    background-color: rgb(131, 111, 111);
    text-align: center;
}

.footer-text{
    margin-top: 2rem;
}


/*Animation start*/

@keyframes moveInLeft {
	0%{
		opacity: 0;
		transform: translateX(-100px);
	}


	100% {
		opacity: 1;
		transform: translate(0);
	}
}


@keyframes moveInRigt {
	0%{
		opacity: 0;
		transform: translateX(-100px);
	}


	100% {
		opacity: 1;
		transform: translate(0);
	}
}


@keyframes blink{
    0%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
}

/*Animation end*/

/*Media Queries start*/

@media (max-width: 64em){

    html{
        overflow-x: hidden;
    }

    .project-header{
        margin-top: 3rem;
    }

    .project-title{
        margin-left: 3rem;
    }

    .project-image img{
        margin-left: 9rem;
    }
}

@media (max-width: 48em){

    html{
        overflow-x: hidden;
    }

    .container-about{
        height: 50rem;
        clip-path: none;
    }

    .project-title{
        margin-left: 0rem;
    }

    .project-image img{
        margin-left: 8rem;
    }
}

@media (max-width: 33.75em){
    .container-project{
        height: 190rem;
    }

    .project-image img{
        margin-left: 0rem;
    }
}

@media (max-width: 25.875em){
    .container-about{
        height: 61rem;
    }
}

@media (max-width: 22.5em){
    .container-about{
        height: 64rem;
    }
}

/*Media Queries end*/
